/*@font-face{
    font-family: 'Monsterrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'Episode';
    src: url('../assets/fonts/Franklin-Gothic-Demi-Regular.ttf');
    font-weight: bold;
}

@font-face{
    font-family: 'Title';
    src: url('../assets/fonts/Franklin-Gothic-Medium-Cond-Regular.ttf');
    font-weight: bold;
}

@font-face{
    font-family: 'Swfont';
    src: url('../assets/fonts/Starjhol.ttf');
}

@font-face {
    font-family:"Star Jedi Hollow";
    src:url("../assets/fonts/Starjhol.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family: 'Alongtime';
    src: url('../assets/fonts/Franklin-Gothic-Book-Regular.ttf');
}*/